# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# Django
db.sqlite3

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/
.php-preview-router.php

# OS
.DS_Store
Thumbs.db


Habit_Tracker_Project_Report.pdf